.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 72px;
  background: var(--color-blue);

  .logo {
    margin-left: 30px;
    max-height: 60px;
  }
}
